# This file lists the Python packages that your project needs.
# Each line in the file should contain the name of a package, and optionally, a version requirement.
#
# To install the dependencies listed in this file, run the following command:
#
# pip install -r requirements.txt

openai==0.27.8
streamlit==0.88.0
python-dotenv==0.19.2
